<h1>{{pageTitle}}</h1>

{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="POST" novalidate>
  <div class="input-field">
    <input id="title" type="text" name="name" class="validate" required value="{{data.name}}">
    <label for="title">Courses Name</label>
    <span class="helper-text" data-error="Enter course name" data-success=""></span>
  </div>
  <div class="input-field">
    <input id="price" type="number" name="price" class="validate" required min="1" value="{{data.price}}">
    <label for="price">Courses Price</label>
    <span class="helper-text" data-error="Enter course price" data-success=""></span>
  </div>
  <div class="input-field">
    <input id="img" type="text" name="url" class="validate" required value="{{data.url}}"/>
    <label for="img">Image URL</label>
    <span class="helper-text" data-error="Enter course image" data-success=""></span>
  </div>
  
  <input type="hidden" name="_csrf" value="{{csrf}}"> 

  <button class="btn btn-primary">Add Course</button>
</form>